# Docs: https://caddyserver.com/docs/caddyfile
{
    email fellipeyudisantana@gmail.com
}

* {
    root * /var/www/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
    tls {
       on_demand
    }
}

gnobet.com:7777 {
  reverse_proxy workspace:7777

  tls {
    on_demand
  }
}