# Docs: https://caddyserver.com/docs/caddyfile
{
    email fellipeyudisantana@gmail.com
}

gnobet.com {
    root * /var/www/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
    tls {
       on_demand
    }
}

157.230.65.130 {
  root * /var/www/public
  php_fastcgi php-fpm:9000
  file_server

  encode gzip

  tls off
}

gnobet.com:7777 {
    root * /var/www/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
    tls {
       on_demand
    }
}